{% set _user = session('user')[0] %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'CMS_PA/templates/header.twig' %}
        {% block head %}
        {% endblock %}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                {% include 'CMS_PA/templates/menu_header.twig' %}
            </header>

            <aside class="main-sidebar">
                {% include 'CMS_PA/templates/menu_sidebar.twig' %}
            </aside>

            <div class="content-wrapper">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        {% include 'CMS_PA/templates/footer.twig' %}
        {% block footer %}
        {% endblock %}
    </body>
</html>
