<section class="sidebar">
    <ul class="sidebar-menu">
        <li><a href="lihat_detail_konsultasi.html"><i class="fa fa-book"></i> <span>Lihat Detail Konsultasi</span></a></li>
        <li><a href="kelola_akun.html"><i class="fa fa-users"></i> <span>Kelola Akun</span></a></li>
        <li><a href="lihat_detail_history_cetak.html"><i class="fa fa-file"></i> <span>Lihat Detail History Cetak</span></a></li>
        <li  class="active"><a href="kelola_notifikasi.html"><i class="fa fa-wechat"></i> <span>Kelola Notifikasi</span></a></li>
    </ul>
</section>