<section class="sidebar">
    <ul class="sidebar-menu">
        <li><a href="{{ function('site_url','notification/konsul') }}"><i class="fa fa-book"></i> <span>Konsultasi</span></a></li>
        <li><a href="{{ function('site_url','notification/kelola_akun') }}"><i class="fa fa-users"></i> <span>Kelola Akun</span></a></li>
        <li><a href="{{ function('site_url','notification/detail_history') }}"><i class="fa fa-file"></i> <span>Lihat Detail History Cetak</span></a></li>
        <li><a href="{{ function('site_url','notification') }}"><i class="fa fa-wechat"></i> <span>Kelola Notifikasi</span></a></li>
    </ul>
</section>