<!DOCTYPE html>
<html>
<head>
	<title>Ayolah</title>
</head>
<body>
	<h4>yes</h4>
	aduh aduh aduh audh audh uahdjascbkajec jhbaskcb k ajs 
	{{ data }}
	{{ kalau }}
	<script type="text/javascript">
	console.log('hore adaan')
	</script>
</body>
</html>