{% extends "front_end/base.twig" %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-center form-account">
                <div class="box">
                    <div class="panel-form basic-form form">
                        <h2>REGISTRASI</h2>
                        <form action="{{ function('site_url','authentication/save') }}" method="POST" id="register" class="form-horizontal">
                            <div class="form-group">
                                <input type="hidden" name="level_user" value="user" id="level_user" class="form-control">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Nama Lengkap" required="" autocomplete="false">
                            </div>
                            <div class="form-group">
                                <input type="text" name="email" id="email" class="form-control" placeholder="Email" required="" autocomplete="false">
                            </div>
                            <div class="form-group">
                                <input type="text" name="username" id="username" class="form-control" placeholder="Nama Pengguna" required="" autocomplete="false" maxlength="30">
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 control-label no-padding" style="text-align:left">Jenis Kelamin </label>
                                <div class="col-xs-9 no-padding">
                                <div class="radio no-padding">
                                    {# <label>
                                        <input type="radio" name="gender" value="male" /> Male
                                    </label> #}
                                    <label><input type="radio" name="gender" value="male">Laki-laki</label>
                                    <label><input type="radio" name="gender" value="female">Perempuan</label>
                                </div>
                                </div>
                            </div>

                            <div class="form-group">
                                {# <div class="input-group date"> #}
                                    <input  type="text" name="born_date" id="born_date" class="form-control" placeholder="Tanggal Lahir" required="" autocomplete="false">
                                    {# <div class="input-group-addon" > #}
                                        {# <span class="glyphicon glyphicon-calendar"></span> #}
                                    {# </div> #}
                                {# </div> #}
                            </div>

                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control" placeholder="Kata sandi" required="" maxlength="15">
                            </div>

                            <div class="form-group">
                                <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Ulang Kata sandi" required="" maxlength="15">
                            </div>
                            <button type="submit" name="submitButton" class="btn btn-block btn-login btn-lg">Daftar</button><br>
                        </form>
                        <p>Sudah punya akun?  <a href="{{ function('site_url','login') }}">masuk disini</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <script>
    // $(function () {

    // config datepicker borndate
    $('#born_date').datetimepicker({
        locale: moment.locale('id', {
            months : ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember'],
            monthsShort : ['Jan','Feb','Mar','Apr','Mei','Jun','Jul','Agu','Sep','Okt','Nov','Des']
        }),
        format: 'DD/MM/YYYY',
        maxDate: moment().add(-20, 'years').endOf('years'), // set last month of -20 years from now
        minDate: moment().add(-28, 'years').endOf('years'), // set last month of -2 years from now
        // useCurrent : true,
        defaultDate: ''
    });
    $('#born_date').val('') // remove initial value
    // });

    $('#born_date').on('dp.change dp.show', function() {
        $('#register').formValidation('revalidateField', 'born_date');
    });

    // config form validation
    $('#register').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'Nama Lengkap tidak boleh kosong'
                    }
                }
            },
            email: {
                validators: {
                    emailAddress: {
                        message: 'Email tidak valid'
                    },
                    notEmpty: {
                        message: 'Email tidak boleh kosong'
                    }
                }
            },
            username: {
                validators: {
                    notEmpty: {
                        message: 'Username tidak boleh kosong'
                    },
                    stringLength: {
                        max: 30,
                        message: 'The username must be less than 30 characters long'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_\.]+$/,
                        message: 'Username tidak boleh menggunakan symbol'
                    }
                }
            },
            gender: {
                validators: {
                    notEmpty: {
                        message: 'Pilih jenis kelamin'
                    }
                }
            },
            born_date: {
                validators: {
                    notEmpty: {
                        message: 'Tanggal lahir tidak boleh kosong'
                    },
                    regexp: {
                        regexp: /^[0-9]{2}\/+[0-9]{2}\/+[0-9]{4}$/,
                        message: 'Masukan dengan format DD/MM/YYYY'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: 'Password tidak boleh kosong'
                    },
                    stringLength: {
                        min: 6,
                        max: 15,
                        message: 'Password terlalu pendek'
                    }
                }
            },
            confirm_password: {
                validators: {
                    notEmpty: {
                        message: 'Confirm Password tidak boleh kosong'
                    },
                    identical: {
                        field: 'password',
                        message: 'Password tidak sesuai'
                    }
                }
            }
        }
    });
    </script>
{% endblock %}