<div class="container">
    <div class="row">
        <div class="main_widget">
            <div class="row">
                <div class="col-sm-8">
                    <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                        <h4 class="footer_title" style="font-size: 26px"><b>KONTAK INFO</b></h4>
                        <div class="separator3"></div>
                        <span style="font-size: 20px;">Rinez Asprinola</span><br>
                        <!-- <div class="footer_logo"> -->
                        <!-- <img src="assets/images/logo2.png" alt="" /> -->
                        <!-- </div> -->
                        <span><i class="fa fa-map-marker" style="margin-left:3px;margin-right:14px"></i> Jl. Terusan Buah Batu Perumahan Permata Buah Batu Blok C No.14/C Bandung, Indonesia </span><br>
                        <span class="contact-icon"><i class="fa fa-envelope-o"></i> asprinolarinez@gmail.com</span><br>
                        <span><i class="fa fa-phone" style="margin-left:2px;margin-right:12px"></i> +6877-7299-1915</span><br>
                        <span><a href="#">www.armusp.com</a></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                        <h4 class="footer_title" style="font-size: 26px"><b>SOSIAL MEDIA</b></h4>
                        <div class="separator3"></div>
                        <a class="" href="index.html" style="margin-left: 4px;">
                            <img src="{{ function('base_url','assets/images/home/footer/facebook.png') }}" alt="logo" style="width:9%" />
                            <span style="padding-left:6%;color:#fff;font-size: 16px;">ormpsofficial</span></a><br>
                        <a class="" href="index.html">
                            <img src="{{ function('base_url','assets/images/home/footer/twitter.png') }}" alt="logo" style="width:12%"/>
                            <span style="padding-left:4%;color:#fff;font-size: 16px">@official_ormpsp</span></a><br>
                        <a class="" href="index.html" style="margin-left: 4px">
                            <img src="{{ function('base_url','assets/images/home/footer/instagram.png') }}" alt="logo" style="width:10%"/>
                            <span style="padding-left:6%;color:#fff;font-size: 16px">@ormpsp12_official</span></a>
                        <!-- <ul>
                            <li><a href=""><i class="fa fa-envelope"></i> info@guitarlessons.com</a></li>
                            <li><a href=""><i class="fa fa-phone"></i> 0123 456 789 0112</a></li>
                            <li><a href=""><i class="fa fa-map-marker"></i> Greenplatz Ben 29, Germany 60435</a></li>
                            <li><a href=""><i class="fa fa-fax"></i> (0012) 654 356 445</a></li>
                        </ul> -->
                    </div>
                </div>
                <!-- <div class="col-sm-4">
                    <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                        <h4 class="footer_title">LATEST NEWS</h4>
                        <div class="separator3"></div>
                        <ul>
                            <li class="single_latest_news">
                                <p class="latest_date">02.08.2015</p>
                                <p class="subtitle">Etiam tempor odio tellus.</p>
                                <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus. Etiam tempor odio tellus.</p>
                            </li>

                            <li class="single_latest_news">
                                <p class="latest_date">02.08.2015</p>
                                <p class="subtitle">Etiam tempor odio tellus.</p>
                                <p class="details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus. Etiam tempor odio tellus.</p>
                            </li>

                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>