{% extends "front_end/base.twig" %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-center form-account">
            <div class="box">
                <div class="panel-form basic-form form-consul">
                 <h2 style="font-size:26px">KONSUL DOKTER</h2>
                 <h2 class="no-padding" style="text-align: left">Pilih Dokter :</h2>
                    <form action="{{ function('site_url','front_end/consul_doctor/do_consul/'~user.user_id) }}" method="POST" id="consul" class="form-horizontal" style="padding-left:15px;padding-right:15px">
                    <div class="form-group no-padding">
                        <div class="col-md-12 no-padding">
                            <div class="form-group no-padding choose-doctor" style="height:35px">
                                <input type="text" id="choose_doctor" name="choose_doctor" style="width:0px;height:0px;border-color:transparent;display:absolute">
                            </div>
                        </div>
                        <div class="col-md-6">
                        <div class="panel-form basic-form-card" id="1" onclick="choosing_doctor(this)">
                            <div class="col-md-3 no-padding">
                            <img src="{{ function('base_url','assets/images/home/header/default-avatar.png') }}" alt="Avatar" class="avatar-basic-form">
                            </div>
                            <div class="col-md-8 pull-right">
                                <div class="form-group no-padding">
                                <h4 style="font-size: 20px" class="no-padding"><b>Dr. Nika Ghea</b></h4> 
                                <span>nika21@gmail.com</span><br>
                                <span>+6899-9081-1303</span>
                                </div> 
                            </div>
                            <input type="hidden" id="doctor_1" name="doctor_1" value="">
                        </div>
                        </div>
                        <div class="col-md-6">
                        <div class="panel-form basic-form-card" id="2" onclick="choosing_doctor(this)">
                            <div class="col-md-3 no-padding">
                            <img src="{{ function('base_url','assets/images/home/header/default-avatar.png') }}" alt="Avatar" 
                            class="avatar-basic-form">
                            </div>
                            <div class="col-md-8 pull-right">
                                <div class="form-group no-padding">
                                <h4 style="font-size: 20px" class="no-padding"><b>Dr. Yuan Miko</b></h4> 
                                <span>mikoyuan@gmail.com</span><br>
                                <span>+6812-1116-0908</span>
                                </div> 
                            </div>
                            <input type="hidden" id="doctor_2"  name="doctor_2" value="">
                        </div>
                        </div>
                    </div>
                    <div class="form-group no-padding">
                        <textarea name="questions" id="questions" class="form-control" placeholder="Pertanyaan" rows="5"></textarea>
                    </div>
                    <div class="no-padding" style="text-align: center;">
                        <button type="submit" class="btn btn-login btn-lg" style="min-width:170px;margin-bottom:3%;font-size: 22px;"> Kirim</button>
                    </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script>
    var choosing_doctor = function(from){
        $('#doctor_'+$(from)[0].id).attr('value','true');

        if ($(from).hasClass('selected')) {
            $(from).removeClass('selected');

        } else if ($('.basic-form-card#1').hasClass('selected') == true && $(from)[0].id > 1) {
            $(from).addClass('selected');
            $('.basic-form-card#1').removeClass('selected');
            $('#doctor_1').attr('value','false');
        
        } else if ($('.basic-form-card#2').hasClass('selected') == true && $(from)[0].id == 1) {
            $(from).addClass('selected');
            $('#doctor_2').attr('value','false');
            $('.basic-form-card#2').removeClass('selected');
            // $(from).removeClass('selected');
        
         } else {
            $(from).addClass('selected');
        }
    };

    $('#consul').formValidation({
        framework: 'bootstrap',
        // icon: {
        //     valid: 'glyphicon glyphicon-ok',
        //     invalid: 'glyphicon glyphicon-remove',
        //     validating: 'glyphicon glyphicon-refresh'
        // },
        fields: {
            choose_doctor: {
                validators: {
                    // notEmpty: {
                    //     message: 'Pilih dokter'
                    // }
                }
            },
            questions: {
                validators: {
                    notEmpty: {
                        message: 'Pertanyaan tidak boleh kosong'
                    }
                }
            },
        }
    });
    // .on('success.form.fv', function(e) {
    //     e.preventDefault();
    //     var $form = $(e.target),
    //         fv    = $form.data('formValidation');
    //     $.ajax({
    //         url: site_url('authentication/simpan'),
    //         type: 'POST',
    //         data: $form.serialize()
    //     }).done(function(data) {
    //         if (data.status) {
    //             toastr.success(data.message);
    //             setTimeout(function(){ window.location = site_url('authentication'); }, 2000);
    //         } else {
    //             toastr.error(data.message);
    //         }
    //     }).fail(function (xhr, status, error) {
    //         var msg = '';
    //         if (xhr.status === 404) {
    //             msg = 'Requested page not found.';
    //         } else if (xhr.status === 500) {
    //             msg = 'Internal Server Error.';
    //         } else if (error === 'parsererror') {
    //             msg = 'Requested failed.';
    //         } else if (error === 'timeout') {
    //             msg = 'Time out error.';
    //         } else if (error === 'abort') {
    //             msg = 'Request aborted.';
    //         }
    //         toastr.error(msg);
    //     });
    // });
    </script>
{% endblock %}