{% set _user = session('user')[0] %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'front_end/shared/header.twig' %}
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header class="{{ (page_title == 'Periksa') or (page_title == 'Konsul Dokter') or (page_title == 'Kunjungan') ? 'header-nonform' :'' }}">
            {% include 'front_end/shared/menu.twig' %}
        </header>
        <section class="main-content">
            {% block content %}
            {% endblock %}
        </section>

        {% block contact %}
        {% endblock %}

        {% include 'front_end/shared/footer.twig' %}
        {% block footer %}
        {% endblock %}
    </body>
</html>
