{% extends "FE_PA/templates/base.twig" %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="main_portfolio sections">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 ">
                    <div class="calendar"></div>
                </div>
                <div class="col-sm-7 col-xs-12">
                    <table id="example1" class="table table-hover">
                        <thead>
                            <tr>
                                <th>NAMA</th>
                                <th>NAMA PENGGUNA</th>
                                <th>TANGGAL</th>
                                <th>JAM</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Erin</td>
                                <td>erinfdi</td>
                                <td>12 Desember 2016</td>
                                <td>13:30</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>08 April 2014</td>
                                <td>12:45</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        $("#example1").DataTable({
            "searching": false
        });
        $(function () {
            $('.calendar').pignoseCalendar({
                format: 'YYYY-MM-DD',
                weeks: [
                    'Min',
                    'Sen',
                    'Sel',
                    'Rab',
                    'Jum',
                    'Thu',
                    'Sab'
                ],
                monthLong: [
                    'Januari',
                    'Februari',
                    'Maret',
                    'April',
                    'Mei',
                    'Juni',
                    'Juli',
                    'Agust',
                    'September',
                    'Oktober',
                    'November',
                    'Desember'
                ],
                months: [
                    'Jan',
                    'Feb',
                    'Mar',
                    'Apr',
                    'Mei',
                    'Jun',
                    'Jul',
                    'Aug',
                    'Sep',
                    'Okt',
                    'Nov',
                    'Des'
                ],
                controls: {
                    ok: 'OK',
                    cancel: 'Cancel'
                }
                // initialize: false 
                // additional custom languages.
                // languages: {
                // Check schema of this value at below link.
                // link: https://github.com/KennethanCeyer/pg-calendar/wiki/Language#basic-best-practice
                // },

                // default first week (0-6), 0 means sunday.
                // week: 1,

                // default date format, it follow moment format rule.
                // format: 'YYYY-MM-DD'
            });
        });
    </script>
{% endblock %}