<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Kunjungan</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <link rel="stylesheet" href="assets/css/navmenu/styles.css">
        <link rel="stylesheet" href="assets/css/fonticons.css">
        <!-- <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="assets/style.css">
        <link rel="stylesheet" href="assets/fonts/stylesheet.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="assets/css/bootstrap.css">
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="assets/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="assets/css/responsive.css" />
        <!-- datepicker -->
        <link rel="stylesheet" href="assets/css/pignose.calendar.min.css" />

        <link rel="stylesheet" href="../CMS_PA/plugins/datatables/dataTables.bootstrap.css">

        <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body data-spy="scroll" data-target=".navbar-collapse">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!--Home page style-->
        <header>

            <div class="container">
                <div class="nav-top clearfix">
                    <div class="logo">
                        <div class="col-md-3" style="padding-right:0;padding-left:0">
                        <a  href="" class="navbar-brand"><img src="assets/images/logo.png" alt="Logo" /></a>
                        </div>
                        <div class="col-md-8" style="padding-top:2%;padding-left:3px;padding-right:0">
                            <span style="font-size:18px;color:#e67e22"><strong>Rekomendasi Makanan Pada Solusi Penyakit</strong></span>
                        </div>
                    </div>

                    <div class="head_top_social pull-right">
                        <span class="head-customer"><a href="login.html">Login</a> | <a href="register.html">Register</a> </span>
                        <!-- <ul class="list-inline"> -->
                            <!-- <li>Login</li> -->
                            <!-- <li><a href="">Registrasi</a></li> -->
                            <!-- <li class="top_socail">
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-pinterest-p"></i></a>
                            </li> -->

                        <!-- </ul> -->
                    </div>

                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                    </button>

                </div>
            </div>

            <div class="main-nav navbar-collapse collapse">
                <div class="container">
                    <div class="minilogo">
                        <a  href="" class="navbar-brand"><img src="assets/images/logo2.png" alt="Logo" /></a>
                    </div>
                    <ul class="nav nav-justified">
                        <li><a href="#home">HOME</a></li>
                        <li><a href="#service">PERIKSA</a></li>
                        <li><a href="#lessons">KONSUL DOKTER</a></li>
                        <li><a href="#portfolio">INFO SEHAT</a></li>
                        <li><a class="active" href="#blog">KUNJUNGAN</a></li>
                        <!-- <li><a href="#contact">CONTACT</a></li> -->
                    </ul>
                </div>
            </div>
        </header>



        <!--  -->



        <!-- <div style="display:block;"> -->

        <section class="main-content">
            <div class="main_portfolio sections">
                <!-- <div class="main_news_content"> -->
                    <div class="container">
                    <div class="col-sm-5 ">
                        <div class="calendar"></div>
                    </div>
                    <div class="col-sm-7 col-xs-12">
                      <table id="example1" class="table table-hover">
                        <thead>
                        <tr>
                          <th>NAMA</th>
                          <th>NAMA PENGGUNA</th>
                          <th>TANGGAL</th>
                          <th>JAM</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>Erin</td>
                          <td>erinfdi</td>
                          <td>12 Desember 2016</td>
                          <td>13:30</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td>08 April 2014</td>
                          <td>12:45</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    </div>
                <!-- </div> -->
            </div>
        </section>
        <!-- </div> -->



        <!-- START SCROLL TO TOP  -->

        <!-- <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div> -->

        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/bootstrap.js"></script>
        <script src="assets/js/pignose.calendar.full.js"></script>

        <!-- DataTables -->
        <script src="../CMS_PA/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="../CMS_PA/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript">
            $("#example1").DataTable({
                "searching": false
            });
            $(function() {
                $('.calendar').pignoseCalendar({
                    // default language.
                    format: 'YYYY-MM-DD',
                    weeks: [
                        'Min',
                        'Sen',
                        'Sel',
                        'Rab',
                        'Jum',
                        'Thu',
                        'Sab'
                      ],
                      monthLong: [
                        'Januari',
                        'Februari',
                        'Maret',
                        'April',
                        'Mei',
                        'Juni',
                        'Juli',
                        'Agust',
                        'September',
                        'Oktober',
                        'November',
                        'Desember'
                      ],
                      months: [
                        'Jan',
                        'Feb',
                        'Mar',
                        'Apr',
                        'Mei',
                        'Jun',
                        'Jul',
                        'Aug',
                        'Sep',
                        'Okt',
                        'Nov',
                        'Des'
                      ],
                      controls: {
    ok: 'OK',
    cancel: 'Cancel'
  }
                    // initialize: false 
                    // additional custom languages.
                    // languages: {
                        // Check schema of this value at below link.
                        // link: https://github.com/KennethanCeyer/pg-calendar/wiki/Language#basic-best-practice
                    // },

                    // default first week (0-6), 0 means sunday.
                    // week: 1,

                    // default date format, it follow moment format rule.
                    // format: 'YYYY-MM-DD'
                });
            });
        </script>


        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>

    </body>
</html>
