{% extends "front_end/base.twig" %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="main_portfolio sections">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/image1.jpg') }}" alt="" width="80%" align="center">
                    </a>
                </div>
                <div class="col-md-7">
                    <h3 style="margin-bottom:15px">13 Tips Makan Sehat untuk Orang Sibuk</h3>
                    <p>Apakah Anda orang yang sibuk? Jadwal dipenuhi setumpuk deadline, padatnya jadwal meeting, lembur sampai malam, dan lain sebagainya? Terkadang, orang-orang yang sibuk susah mengontrol asupan makanan. Biasanya, mereka hanya memilih makan yang cepat dan gampang diperoleh supaya tidak menyita banyak waktu. Padahal, asupan makanan adalah hal yang penting untuk menunjang kesehatan manusia. Berikut adalah tips-tips makan sehat ... <a href="#" style="color: #000"><u>info lengkap</u></a></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/image2.jpg') }}" alt="" width="80%" align="center">
                    </a>
                </div>
                <div class="col-md-7">
                    <h3 style="margin-bottom:15px">Terlalu Sering Makan Daging Bisa Kena Diabetes, Kok Bisa?</h3>
                    <p>Sekarang ini, sebagian besar orang sudah berusaha untuk mengurangi asupan daging. Katanya, sih, konsumsi daging bisa menyebabkan berbagai penyakit kronis, seperti diabetes. Apalagi jika dikonsumsi terlalu sering. Lantas, benarkah makan daging bisa menyebabkan penyakit diabetes? ... <a href="#" style="color: #000"><u>info lengkap</u></a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}