{% extends "front_end/base.twig" %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="main_portfolio sections">
        <div class="container">
            <div class="row">
            		<div class="col-md-12">
                    <h2 style="margin-bottom:15px;font-size:32px">Mengenal Asam Amino, Fungsinya Bagi Tubuh dan Sumber Makanannya</h2>
            		</div>
                <div class="col-md-7">
                    {# <a href="#"> #}
                        <img class="img-fluid rounded mb-3 mb-md-0" src="{{ function('base_url','assets/images/home/content/slider/image3.jpg') }}" alt="" width="100%" align="center">
                    {# </a> #}
                </div>

                <div class="col-md-5" style="">
                    <p>Jika membicarakan asam amino, ini tidak lepas dari yang namanya protein. Ya, protein yang biasa Anda dapatkan dari telur, daging, kacang-kacangan, tahu, tempe, ikan, dan lain-lain itu. Lalu apa hubungannya asam amino sama protein? Sebenarnya apa itu asam amino? Yuk, simak ulasannya di bawah ini.
                    </p>
                    <h3>Apa itu asam amino?</h3>
                    <p>Asam amino adalah bagian terkecil dari struktur protein. Bisa dikatakan, protein dari makanan yang Anda makan itu adalah kumpulan dari beberapa asam amino. Sebagai bentuk paling sederhana dari protein, bentuk asam amino inilah yang nantinya bisa diserap oleh tubuh dan menjalankan fungsinya dengan baik..</p>
                </div>
                <div class="col-md-12" style="padding-top:60px">
				    <h3><b>Bagaimana protein diolah dalam tubuh hingga jadi asam amino?</b></h3>
                    <p>Pada prinsipnya, protein harus dihancurkan hingga menjadi asam amino agar dapat diserap oleh tubuh dan menjalankan fungsinya dalam tubuh.</p>

                    <p>Pertama, pengolahan protein biasanya sudah terjadi sejak makanan belum dimakan, yakni saat dimasak. Memasak membantu melembutkan jaringan ikat pada daging. Kondisi ini akan membantu makanan lebih mudah dikunyah selama pencernaan di dalam tubuh.</p>

                    <p>Ketika Anda makan, sumber protein (misalnya daging ayam) pertama kali dihancurkan oleh gigi dan masuk ke dalam lambung. Saat masuk ke lambung, lambung akan merespon dengan pengeluaran asam lambung yang diikuti oleh pengeluaran enzim yang bernama pepsin.</p>

                    <p>Pepsin akan mulai memecah protein menjadi lebih sederhana tapi tidak sepenuhnya memisahkan seluruh protein jadi asam amino di fase ini. Hanya beberapa ikatan peptida dalam protein yang dipecah.</p>

                    <p>Selanjutnya, makanan dari lambung yang sudah menjadi bentuk yang disebut chyme ini dialirkan keluar dari lambung menuju usus 12 jari.</p>

                    <p>Saat memasuki usus 12 jari, chyme akan memicu organ pankreas untuk mengeluarkan enzim berikutnya. Ada beberapa enzim yang dikeluarkan yakni tripsin, carboxypeptidase, dan chimotrypsin. Ketiga enzim ini akan membantu menghancurkan protein lebih sederhana lagi hingga berbentuk asam amino.</p>

                    <p>Asam amino ini di usus akhirnya bisa diserap ke sel-sel usus. Asam amino kemudian di bawah ke hati melalui aliran darah vena porta. Dari hati, asam amino-asam amino akan disalurkan ke seluruh sel-sel di tubuh yang membutuhkan asam amino.</p>

                    <p>Dari sinilah asam amino akan digunakan selanjutnya untuk segala kebutuhan dalam tubuh.</p>

                    <h3><b>Fungsi asam amino</b></h3>
                    <p>Setelah asam amino sudah siap digunakan, tubuh selanjutnya menggunakan untuk:</p>

                    <p><ul>
                        <li>Membantu segala proses pertumbuhan dalam tubuh</li>
                        <li>Memperbaiki jaringan tubuh</li>
                        <li>Menjaga keseimbangan cairan tubuh</li>
                        <li>Menjaga suasana asam basa di dalam tubuh</li>
                        <li>Membentuk hormon (Contohnya,  hormon tiroid dan insulin).</li>
                        <li>Membentuk enzim. Enzim adalah sebuah molekul dari protein yang berfungsi sebagai katalis. Dengan ada katalis, segala proses reaksi kimia di dalam tubuh akan cerjalan lebih cepat dan efektif.</li>
                        <li>Membentuk neurotransmitter. Neurotransmiter adalah senyawa kimia di otak yang membantu mengirim sinyal di antara sel-sel saraf di otak. Nerotransmitter yang dibentuk contohnya bernama dopamin, norepinephrine, dan serotonin.</li>
                        <li>Membentuk sistem kekebalan tubuh. Antibodi adalah kunci dalam sistem imun. Asam amino membuat antibodi tubuh untuk menyerang sel target yang dianggap asing masuk ke dalam tubuh.</li>
                    </ul></p>
                    
                    <h3><b>Jenis-jenis asam amino di dalam tubuh</b></h3>
                    <p>Dilansir dalam laman Medline Plus, asam amino dibagi menjadi tiga. Ketiganya yaitu asam amino esensial, asam amino non esensial, dan asam amino conditional. Apa itu asam amino esensial? Asam amino esensial adalah asam amino yang tidak bisa diproduksi sendiri oleh tubuh, karena itu, harus diperoleh dari makanan. Contohnya antara lain, asam amino histidin, lisin, metionin, tryptophan, valine.</p>

                    <p>Sedangkan, asam amino nonesensial adalah asam amino yang yang dapat diproduksi oleh tubuh jika tidak didapatkan dari makanan yang dimakan. Contohnya antara lain asam amino, alanin, asam glutamat, asparagin.</p>

                    <p>Meskipun berbeda jenisnya, Anda tidak perlu untuk memilih-milih dan mengonsumsi protein berdasarkan jenisnya satu persatu. Selama Anda dapat memenuhi kebutuhan protein setiap hari, kebutuhan asam amino esensial dan nonesensial dapat terpenuhi dengan baik.</p>

                    <p>Asam amino conditional adalah kelompok asam amino yang bersyarat, dibutuhkan ketika sakit, terluka dan mengalami stres. Contohnya antara lain, cystein, glutamin, serine dan proline.</p>

                    <h3><b>Sumber-sumber protein</b></h3>
                    <p>Setelah memahami apa itu asam amino, cari tahu dari mana saja Anda bisa memenuhi kebutuhan asam amino harian. Di bawah ini adalah beberapa contoh sumber protein yang banyak ditemui di sekitar Anda:</p>

                    <h4>Sumber hewani:</h4>
                    <p><ul>
                        <li>Ayam</li>
                        <li>Daging sapi, kambing, kerbau dan olahan daging lainnya seperti bakso, sosis, dan dendeng</li>
                        <li>Telur</li>
                        <li>Ikan</li>
                        <li>Udang, cumi, kerang, dan aneka makanan laut lainnya</li>
                    </ul></p>
                    <h4>Sumber nabati:</h4>
                    <p>Kacang-kacangan seperti kacang tanah, kedelai, mete, kacang merah, kacang tolo, dan lainnya</p>
				</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}