{% extends "front_end/base.twig" %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
           <div class="col-md-10 col-center form-account">
              <div class="panel-form basic-form form">
                 <h2 style="text-align: left">Isilah Pertanyaan Berikut Sesuai Kondisi Kesehatan Anda :</h2><br>
                    <form style="padding-left:50px;padding-right:50px;">
                    <div class="form-group">
                        <div class="row">
                        <label for="age" class="col-md-4">1. Berapakah usia anda ?</label>
                        <input type="text" name="age" id="age" class="form-control col-md-6" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label for="weight" class="col-md-4">2. Berapa berat badan anda ?</label>
                        <input type="text" name="weight" id="weight" class="form-control col-md-6" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label for="" class="col-md-6">3. Apakah anda tidur dalam sehari kurang dari 4 jam ?</label>
                        <label class="col-md-6">
                            <label class="col-md-6">
                                <input type="radio" name="" id="" class="col-md-2"> Benar
                            </label>
                            <label class="col-md-6">
                                <input type="radio" name="" id="" class="col-md-2"> Salah
                            </label>
                        </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label for="" class="col-md-6">4. Apakah anda sering duduk lama ?</label>
                        <label class="col-md-6">
                            <label class="col-md-6">
                                <input type="radio" name="" id="" class="col-md-2"> Benar
                            </label>
                            <label class="col-md-6">
                                <input type="radio" name="" id="" class="col-md-2"> Salah
                            </label>
                        </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label for="" class="col-md-6">5. Apakah kondisi air mineral dalam sehari > 1 liter ?</label>
                        <label class="col-md-6">
                            <label class="col-md-6">
                                <input type="radio" name="" id="" class="col-md-2"> Benar
                            </label>
                            <label class="col-md-6">
                                <input type="radio" name="" id="" class="col-md-2"> Salah
                            </label>
                        </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <label for="" class="col-md-6">6. Apakah anda mulai pusing disiang hari ?</label>
                        <label class="col-md-6">
                            <label class="col-md-6">
                                <input type="radio" name="" id="" class="col-md-2"> Benar
                            </label>
                            <label class="col-md-6">
                                <input type="radio" name="" id="" class="col-md-2"> Salah
                            </label>
                        </label>
                        </div>
                    </div><br>
                    <!-- <div class="row"> -->
                    {# <div class="col-md-4"> #}
                    <div style="text-align: center;">
                        <a href="{{ function('site_url', 'periksa/step-2') }}"><button type="button" class="btn btn-login btn-lg pull-right" style="min-width:130px;margin-bottom:3%;font-size:20px">Lanjut</button></a>
                    {# </div> #}
                    </div>
                    </form>
                 </div>
              </div>
           </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <script>
    APP.handleDatePicker('.input-group.date');
    $('.input-group.date').on('dp.change dp.show', function() {
        $('#register').formValidation('revalidateField', 'born_date');
    });
    $('#register').formValidation({
        framework: 'bootstrap',
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: 'Nama Lengkap tidak boleh kosong'
                    }
                }
            },
            email: {
                validators: {
                    emailAddress: {
                        message: 'Email tidak valid'
                    },
                    notEmpty: {
                        message: 'Email tidak boleh kosong'
                    }
                }
            },
            username: {
                validators: {
                    notEmpty: {
                        message: 'Username tidak boleh kosong'
                    },
                    stringLength: {
                        max: 30,
                        message: 'The username must be less than 30 characters long'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_\.]+$/,
                        message: 'Username tidak boleh menggunakan symbol'
                    }
                }
            },
            gender: {
                validators: {
                    notEmpty: {
                        message: 'Pilih jenis kelamin'
                    }
                }
            },
            born_date: {
                validators: {
                    notEmpty: {
                        message: 'Tanggal lahir tidak boleh kosong'
                    },
                    regexp: {
                        regexp: /^[0-9]{4}\-+[0-9]{2}\-[0-9]{2}$/,
                        message: 'Masukan dengan format YYYY-MM-DD'
                    }
                }
            },
            password: {
                validators: {
                    identical: {
                        field: 'confirm_password',
                        message: 'Password tidak sesuai'
                    },
                    stringLength: {
                        min: 6,
                        max: 15,
                        message: 'Password terlalu pendek'
                    }
                }
            },
            confirm_password: {
                validators: {
                    identical: {
                        field: 'password',
                        message: 'Password tidak sesuai'
                    },
                    stringLength: {
                        min: 6,
                        max: 15,
                        message: 'Konfirmasi password terlalu pendek'
                    }
                }
            }
        }
    }).on('success.form.fv', function(e) {
        e.preventDefault();
        var $form = $(e.target),
            fv    = $form.data('formValidation');
        $.ajax({
            url: site_url('authentication/simpan'),
            type: 'POST',
            data: $form.serialize()
        }).done(function(data) {
            if (data.status) {
                toastr.success(data.message);
                setTimeout(function(){ window.location = site_url('authentication'); }, 2000);
            } else {
                toastr.error(data.message);
            }
        }).fail(function (xhr, status, error) {
            var msg = '';
            if (xhr.status === 404) {
                msg = 'Requested page not found.';
            } else if (xhr.status === 500) {
                msg = 'Internal Server Error.';
            } else if (error === 'parsererror') {
                msg = 'Requested failed.';
            } else if (error === 'timeout') {
                msg = 'Time out error.';
            } else if (error === 'abort') {
                msg = 'Request aborted.';
            }
            toastr.error(msg);
        });
    });
    </script>
{% endblock %}