{% extends "front_end/base.twig" %}

{% block head %}
{% endblock %}

{% block content %}
    <section class="main-content">
       <div class="container">
            <div class="row">
               <div class="col-md-9 col-center form-account">
                <div class="box">
                  <div class="panel-form basic-form ">
                     <h2 style="text-align: left;padding-bottom:50px">Penyakit ditandai dengan sering merasa lelah disertai pusing dan pandangan kabur</h2>
                        <form style="padding-left:20px;padding-right:20px">
                        <div class="row">
                            <ul class="chat">
                                <li class="left clearfix"><span class="chat-img pull-left" style="width:65px">
                                    <img src="{{ function('base_url','assets/images/home/header/default-avatar.png') }}" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header" style="padding-left:20px">
                                            <strong class="primary-font"> {{ _user.name }}</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>2 hari lalu</small>
                                        </div>
                                        <p style="padding-left:20px">
                                            dok, saya mau bertanya. saya sering merasa kelelahan saat melakukan aktivitas ringan seperti naik tangga ataupun berlari. rasa lelah sering diikuti oleh pusing di kepala, pucat di tangan dan wajah, pandangan terasa putih dan sempoyongan dan muncul keringat dingin. apakah itu adalah penyakit serius?
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix"><span class="chat-img pull-right" style="width:65px">
                                    <img src="{{ function('base_url','assets/images/home/header/default-avatar.png') }}" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header" style="padding-right:20px">
                                            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 menit lalu</small>
                                            <strong class="pull-right primary-font">Dr. Nika</strong>
                                        </div>
                                        <p style="padding-right:20px">
                                            Halo, Lelah bisa merupakan indikasi dari beragam permasalahan medis baik dari segi fisik maupun psikis. Rasa lelah bisa menjadi indikasi dari kondisi medis seperti :</p>

                                            - Stress dan depresi.<br>
                                            - Kelelahan fisik. <br>
                                            - Kurang istirahat. <br>
                                            - Anemia. <br>
                                            - Gagal jantung. <br>
                                            - Gangguan paru. <br>
                                            - Diabetes. <br>
                                            - Gangguan tiroid. <br>
                                            - Paska infeksi berat atau operasi berat (masa pemulihan).<br>
                                            - Kurang olahraga.<br>
                                            - dll.<br>
                                            <p>Untuk mengetahui penyebab kondisi Anda maka Anda perlu melakukan pemeriksaan fisik secara langsung ke dokter. Berdasarkan keluhan yang Anda sampaikan maka dokter akan melakukan tes fisik dan medis lain yang bisa membantu memperjelas kondisi kesehatan Anda. Tes medis berupa pemeriksaan darah, EKG, foto rontgen, CT SCAN, dll bisa saja dilakukan setelah dokter memeriksa kondisi fisik Anda. </p>
                                            <p>Dengan mengetahui penyebabnya maka dokter bisa memberikan Anda solusi pengobatan yang sesuai. Hindari aktivitas berat sementara waktu, lakukan aktivitas secara bertahap, hindari  merokok dna asap rokok, makan nutrisi seimbang dan kelola stress serta cukup istirahat. Baca artikel Menghilangkan lelah. Jika rasa lelah dan nafas tersengal bahkan timbul ketika Anda hanya melakukan aktivitas yang normal (mandi, berdiri lama, berjalan datar selama beberapa waktu) maka segera hubungi dokter terdekat.   Semoga membantu.   dr. Yusi
                                        </p>
                                    </div>
                                </li>
                                {# <li class="left clearfix"><span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                            dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix"><span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                            dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li> #}
                            </ul>
                        </div>
                        </form>
                        <p class="pull-right"><a href="{{ function('site_url', 'notifikasi') }}">Kembali</a></p>
                     </div>
                  </div>
                </div>
               </div>
            </div>
            {# <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="accordion">
                            <span class="glyphicon glyphicon-comment"></span> Chat
                            <div class="btn-group pull-right">
                                <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </div>
                        </div>
                    <div class="panel-collapse collapse" id="collapseOne">
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix"><span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                            dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix"><span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                            dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix"><span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                            dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix"><span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                            dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div> #}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        
    </script>
{% endblock %}