{% extends "front_end/base.twig" %}

{% block head %}
{% endblock %}

{% block content %}
    <section class="main-content">
    <div class="container">
        <div class="row">
           <div class="col-md-8 col-center form-account">
            <div class="box">
              <div class="panel-form basic-form ">
                 <h2 style="text-align: left"><a href="#" class=""><i class="fa fa-fw fa-bell" style="font-size: 20px;color:#2c3e50"></i></a> Notifikasi Anda</h2>
                    <form>
                    <div class="row">
                        <div class="col-md-1" style="padding-right: 0;width: 40px">1.</div>
                        <div class="col-md-11" style="padding-left: 0">
                            <div class="form-group">
                                <label><a href="{{ function('site_url', 'detail-notifikasi') }}"> Penyakit ditandai dengan sering merasa lelah disertai pusing dan pandangan kabur</a></label>
                                <p style="padding:0 0 0 0">Waktu Minggu, 1 November 2017 - 13.00<br>
                                    <b><i class="glyphicon glyphicon-info-sign"></i> Pertanyaan anda telah dijawab oleh dr. Nika</b>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr style="margin-top: 0;margin-bottom: 15px">
                    <div class="row">
                        <div class="col-md-1" style="padding-right: 0;width: 40px">2.</div>
                        <div class="col-md-11" style="padding-left: 0">
                            <div class="form-group">
                                <label>Pertanyaan anda telah dijawab oleh dr. Nika</label>
                                <p style="padding:0 0 0 0">Waktu Senin, 18 Desember 2017 - 14.30</p>
                            </div>
                        </div>
                    </div>
                    </form>
                    <p class="pull-right"><a href="index.html">Kembali ke home</a></p>
                 </div>
              </div>
            </div>
           </div>
        </div>
    </div>
    </section>
{% endblock %}

{% block footer %}
    <script type="text/javascript">
        
    </script>
{% endblock %}