{% set _user = session('user')[0] %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'cms/shared/header.twig' %}
        {% block head %}
        {% endblock %}
    </head>
    <body class="sidebar-mini skin-blue-light" style="height: auto; min-height: 100%;">
        <div class="wrapper">
            <header class="main-header">
                {% include 'cms/shared/menu_header.twig' %}
            </header>

            <aside class="main-sidebar">
                {% include 'cms/shared/menu_sidebar.twig' %}
            </aside>

            <div class="content-wrapper">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        {% include 'cms/shared/footer.twig' %}
        {% block footer %}
        {% endblock %}
    </body>
</html>
